<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>AcmeCorp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<link th:href="@{/css/skel.css}" rel="stylesheet"  />
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link th:href="@{/css/style-xlarge.css}" rel="stylesheet"/>
	</head>
<body>
	<!-- Header -->
	<header id="header">
		<h1>
			Inserisci nuova attività
		</h1>
		<nav id="nav">
			<ul>
				<li><a th:href="@{/index}">Homepage</a></li>
				 <li><a th:href="@{/gestioneCentro}">Gestione Centro</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<div>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{'/centro' + '/' + ${centro.id} + '/attivitaCentro'}" method="POST" th:object="${attivita}">
		<table>
			<tr style="background-color: transparent;">
				<td><h3>Nome</h3></td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr style="background-color: transparent">
				<td><h3>Data</h3></td>
				<td><input type="date" th:field="*{data}" /></td>
				<td th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></td>
			</tr>
			<tr style="background-color: transparent">
				<td><input type="submit" name="invia i dati" class="button fit"></td>
			</tr>
		</table>
	</form>
</body>
</html>