<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Gestione Centri</title>
<head>
<meta charset="UTF-8">
<title>AcmeCorp</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<link th:href="@{/css/skel.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/style-xlarge.css}" rel="stylesheet" />
</head>
<body>
	<!-- Header -->
	<div id="header-wrapper">

		<div id="header" class="container">

			<div id="logo">
				<h1>
					Gestione Centri
				</h1>
			</div>
			<nav id="nav">
				<ul>
					<li><a th:href="@{index}">Homepage</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<div id="page">
		<div class="container">
			<div class="row">
				<div id="content" class="12u skel-cell-important">
					<article>
						<table>
								<p><a th:href="@{/attivita}"><h4>Lista di tutte le attività </h4></a></p>
								<p><a th:href="@{/scegliCentro}"><h4>Aggiungi una attività al tuo centro </h4></a></p>
						</table>
					</article>
				</div>
			</div>
		</div>
	</div>
</body>
</html>