<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AcmeCorp</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<link th:href="@{/css/skel.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/style-xlarge.css}" rel="stylesheet" />
</head>
<body class="landing">

	<!-- Header -->
	<header id="header">
		<h1>
			AcmeCorp
		</h1>
		<nav id="nav">
			<ul>
				<li><a th:href="@{/index}">Home</a></li>
				<li><a th:href="@{/gestioneAllievo}">Allievi</a></li>
				<li><a th:href="@{/gestioneCentro}">Centri</a></li>
				<li><a th:href="@{/gestioneAzienda}">Azienda</a></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<h2>Benvenuto in AcmeCorpPlatform.</h2>
		<p>la piattaforma più adatta per gestire la tua azienda!</p>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>Scegli cosa vuoi gestire</h2>
				<!--<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>-->
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<a th:href="@{/gestioneAllievo}">
						<section class="box">
							<i class="icon big rounded color1 fa-users"></i>
							<h3>Allievi</h3>
							<p>Gestisci i tuoi allievi: iscrivine di nuovi oppure
								inserisci la loro partecipazione ad uno dei corsi di formazione
								giornalieri.</p>
						</section>
					</a>
				</div>
				<div class="4u 12u$(medium)">
					<a th:href="@{/gestioneCentro}">
						<section class="box">
							<i class="icon big rounded color9 fa-home"></i>
							<h3>Centri di formazione</h3>
							<p>Gestisci i tuoi centri di formazione: crea nuovi corsi
								giornalieri a cui potranno partecipare tutti gli iscritti.</p>
						</section>
					</a>
				</div>
				<div class="4u$ 12u$(medium)">
					<a th:href="@{/gestioneAzienda}">
						<section class="box">
							<i class="icon big rounded color6 fa-building"></i>

							<h3>Azienda</h3>
							<p>Gestisci la tua azienda: monitora le visite nei tuoi
								centri di formazione e i partecipanti ai corsi giornalieri.</p>
						</section>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="row">
			<div class="8u 12u$(medium)">
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>