<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>AcmeCorp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<link th:href="@{/css/skel.css}" rel="stylesheet"  />
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link th:href="@{/css/style-xlarge.css}" rel="stylesheet"/>
	</head>
<title>Attività </title>
</head>
<body>
<!-- Header -->
	<header id="header">
		<h1>
			Gestione Attività
		</h1>
		<nav id="nav">
			<ul>
				<li><a th:href="@{/index}">Homepage</a></li>
				 <li><a th:href="@{/gestioneCentro}">Gestione Centro</a></li>
			</ul>
		</nav>
	</header>
	
	<div id="page">
		<div class="container">
			<div class="row">

				<div id="content" class="12u skel-cell-important">
					<article>
						<header>
							<h2 class="main-title">Attività selezionata</h2>
						</header>
						<table>
							<tr>
								<th>Nome e data</th>
							</tr>
							<tr >
								<td>
									<span th:text="${attivita.nome}"></span>
									<span> &nbsp&nbsp&nbsp&nbsp&nbsp </span>
									<span th:text="${attivita.data}"></span>
								</td>
							</tr>
						</table>
					</article>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>